# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment
.env
.env.local
.env*.local

# Prisma
prisma/generated/

# Misc
.DS_Store
*.log
npm-debug.log*

# TypeScript
next-env.d.ts
*.tsbuildinfo
